<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Maya Study Buddy</title>
	<base href="/">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bungee|Varela+Round" rel="stylesheet">

	<script>
		window['_fs_debug'] = false;
		window['_fs_host'] = 'fullstory.com';
		window['_fs_org'] = '6C5FB';
		window['_fs_namespace'] = 'FS';
		(function (m, n, e, t, l, o, g, y) {
			if (e in m) {
				if (m.console && m.console.log) {
					m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
				}
				return;
			}
			g = m[e] = function (a, b) {
				g.q ? g.q.push([a, b]) : g._api(a, b);
			};
			g.q = [];
			o = n.createElement(t);
			o.async = 1;
			o.src = 'https://' + _fs_host + '/s/fs.js';
			y = n.getElementsByTagName(t)[0];
			y.parentNode.insertBefore(o, y);
			g.identify = function (i, v) {
				g(l, {uid: i});
				if (v) g(l, v)
			};
			g.setUserVars = function (v) {
				g(l, v)
			};
			y = "rec";
			g.shutdown = function (i, v) {
				g(y, !1)
			};
			g.restart = function (i, v) {
				g(y, !0)
			};
			g.identifyAccount = function (i, v) {
				o = 'account';
				v = v || {};
				v.acctId = i;
				g(o, v)
			};
			g.clearUserCookie = function () {
			};
		})(window, document, window['_fs_namespace'], 'script', 'user');
	</script>
</head>
<body>

<div class="wrapper" ng-class="{'greyscale': vm.greyscale}" ng-controller="rootController as vm">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/" onclick="location.reload()"><img src="/images/logo.png"/></a>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" ng-model="vm.greyscale" id="greyscale">
			<label class="form-check-label" for="greyscale">
				Black & White
			</label>
		</div>

		<select class="form-control room-select" ng-model="vm.selectedRoom" ng-change="vm.selected()">
			<option ng-repeat="room in vm.rooms" value="{{room.name}}">{{room.desc}}</option>
		</select>
	</nav>

	<ui-view></ui-view>

	<footer>
		Mayacool &copy; 2018
	</footer>
</div>

<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyCA9A-qsNSe2gBAAwjXnWT6a1sjZp3gNPw",
		authDomain: "maya-study-buddy.firebaseapp.com",
		databaseURL: "https://maya-study-buddy.firebaseio.com",
		projectId: "maya-study-buddy",
		storageBucket: "maya-study-buddy.appspot.com",
		messagingSenderId: "1064770265069"
	};
	firebase.initializeApp(config);
</script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/scripts/angular/angular.min.js" type="text/javascript"></script>
<script src="/scripts/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
<script src="/scripts/cloudinary-core/cloudinary-core-shrinkwrap.js"></script>
<script src="/scripts/cloudinary_ng/js/angular.cloudinary.js"></script>
<script src="/index.js" type="text/javascript"></script>
</body>
</html>