html {
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100%;
	background-color: whitesmoke !important;
	padding-bottom: 50px;
}

.navbar-brand {
	font-family: 'Bungee', cursive;
	padding: 0!important;
}

.upload-btn {
	font-family: 'Varela Round', sans-serif;
}

.navbar .form-check label {
	color: white;
}

.wrapper {
}

h3 {
	text-align: center;
}

.image-wrapper {
	text-align: center;
	min-height: 500px;
}

.remaining {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
}

img {
	max-width: 100vw;
	max-height: calc(100vh - 80px);
}

.greyscale img {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.question {
	font-weight: bold;
	font-size: 35px;
	font-family: 'Varela Round', sans-serif;
	direction: rtl;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: .8;
}

.overlay-text-wrapper {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	text-align: center;
}

.overlay-text-wrapper p {
	color: white;
	font-weight: bold;
	font-size: 35px;
	font-family: 'Varela Round', sans-serif;
}

.overlay-text {
	max-height: 60vh;
	overflow: auto;
	direction: rtl;
}

.got-it-right p {
	margin-top: 50px;
	font-weight: normal;
	font-size: 24px;
}

[ng-click] {
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 10px;
}

.room-select {
	direction: rtl;
	text-align-last:center;
}

@media screen and (min-width: 600px) {
	.room-select {
		width: auto !important;
	}
}
