<h3>{{vm.room.desc}}</h3>

<p class="remaining">Remaining: <b>{{vm.room.images.length}}</b></p>

<div class="image-wrapper" ng-click="vm.imageClick()">
	<cl-image public-id="{{vm.image.public_id}}">
		<cl-transformation
				dpr="auto"
				responsive
				width="auto"
				fetch_format="auto"
				crop="scale"
				quality="auto">
		</cl-transformation>
	</cl-image>
</div>

<div ng-if="vm.showOverlay">
	<div class="overlay"></div>
	<div class="overlay-text-wrapper">
		<p class="overlay-text" ng-if="!vm.gameOver">{{vm.image.desc}}</p>

		<div class="got-it-right" ng-if="!vm.gameOver">
			<p>Did you get it right?</p>
			<button class="btn btn-lg btn-outline-success" ng-click="vm.nextQuestion(true)">Yes</button>
			<button class="btn btn-lg btn-outline-danger" ng-click="vm.nextQuestion(false)">No</button>
		</div>

		<div ng-if="vm.gameOver">
			<p>All done!</p>
			<button class="btn btn-lg btn-outline-light" ng-click="vm.startOverClick()">
				Start over
			</button>
		</div>
	</div>
</div>